/* Magic Mirror
* Module: SchoolMeals
*
* By Avella http://github.com/Av3lla
* MIT Licensed.
*/

.MMM-SchoolMeals header {
  font-size: 30px;
  padding-bottom: 20px;
}

.mealsMain {
  width: 500px;
  height: auto;
}

.menu {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  color: white;
}

.meal {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 100%;
  column-gap: 10%;
}

.mealindex {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 100%;
  column-gap: 10%;
  font-weight: bold;
  font-size: 40px;
}

.lunch,
.dinner {
  font-size: 35px;
}

.devby {
  font-size: 15px;
  color: grey;
}

/*  
.menuInfo {
  font-size: 12px;
}

.kcal {
  margin-bottom: 10px;
  font-size: 25px;
}
*/